body {
  margin: 0;
  height:100%;
  width:100%;
  background-color: #272635;
}

.letout {
  display:flex;
  justify-content:center;
  Align-items:center;
  width: 100%;
  height: 100%;
  
}

.formu {
  width: 280px;
  padding:20px;
  background: #F0BCD4;
  border-radius:20px;
}

.nom{
  height:40px;
  width:100%;
  border-radius:20px;
  opacity:50%;
  border:none;
}

.peau{
  display:flex;
  justify-content:space-between;
}

select{
  appearance: none;
  height:40px;
  width:100%;
  border-radius:20px;
  background:rgba(255,255,255,0.5);
  border:none;
  padding-left:10px;
}

.btn{
  height:40px;
  width:100%;
  border-radius:20px;
  border:none;
}



.resultat{
  display:flex;
  width:100%;
}
.show .resultat{
  display:flex;
}
.player{
  width:25%;
  height:100vmin;
  background-color: #7FD8BE;
  text-align:center;
  transform:translateX(100%);
}
#cJoueur{
  font-size: 30vmin; 
}
.player2{
  width:25%;
  height:100vmin;
  background-color:#D16D82;
  text-align:center;
  transform:translateX(100%);
}
.cOrdi{
  font-size: 30vmin;
}
.bas{
  display:flex;
  justify-content:center;
  position:relative;
}
.annonce{
  position:absolute;
  font-size:60px;
  color:white;
  z-index:1;
  bottom:10%;
}
.rejouer{
  height:40px;
  width:200px;
  border-radius:20px;
  border:none;
  background-color:white;
  color:black;
  position:absolute;
  z-index:1;
  bottom:0;
}
.none{
  display: none;
}
#joueur{
  font-size:3vw;
}
